<!DOCTYPE html>
<html>
<head>
  <title>Book</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav pull-right">
      </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
